@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-bg-color: #fff;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html {
	height: 100%;
} */
body {
	background-color: var(--main-bg-color);
}

/* Handling the scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
	position: relative;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}